.title {
    font-family: 'Aclonica';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 59px;
    color: #0B1A26;
}

.nav-menu {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    background: #FFFFFF;
    border-width: 3px 0px;
    border-style: solid;
    border-color: #006969;
    border-radius: 5px;
}

.baner-border {
    border-color: #000000;
    border-width: 7px 0px;
    border-style: solid;
}

.page-name {
    font-family: 'Inika';
    font-style: normal;
}

.step-button {
    background: #006969;
    border-radius: 7px;
    border-width: 1px;
}

.step-button-active {
    background: #45A77B;
}